*{
    font-family: Arial, Helvetica, sans-serif;
}
header>h2{
    text-align: center;
    font-size: 60px;
    color:cyan;
    text-shadow: 5px 5px lightsalmon;
    animation: doimau ease-in .5s infinite ;
}
@keyframes doimau
{
from{color: lightsalmon;}
to{color: lightseagreen;}
}
/*to mau nen*/

ul.menu{
    text-align: center;
list-style-type: none;
display: flex;
}
ul.menu>li{
    border-right: 3px solid darkslategray;
    width: 80%;
    text-align: center;
}
ul.menu>li>a:hover
{background-color: deeppink;}
img.center
{   width:120px;
    height:180px;
    display: inline-block;
    margin: 120px;
}
ul.menu>li>h3> a{
    color:#8ca4d1;
    text-shadow: 3px 3px lightpink ;
    text-decoration: none;
}